@model IEnumerable<Kurs>

<h2>Kurs Listesi</h2>
<hr />

<a asp-action="Create" class="btn btn-primary mb-3">Kurs Ekle</a>

<table class="table table-bordered table-striped align-middle app-table">
    <thead>
        <tr>
            <th>Kurs Id</th>
            <th>Kurs Baslik</th>
            <th>Ogretmen</th>
            <th style="width:150px;"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var kurs in Model)
        {
            <tr>
                <td>@kurs.KursId</td>
                <td>@kurs.Baslik</td>
                <td>@(kurs.Ogretmen != null ? kurs.Ogretmen.AdSoyad : "Ogretmen atanmadi")</td>

                <td>
                    <a asp-action="Edit"
                       asp-route-id="@kurs.KursId"
                       class="btn btn-sm btn-primary">
                        Güncelle
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@kurs.KursId"
                       class="btn btn-sm btn-danger">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
